name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Swift Tests
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Swift
      uses: swift-actions/setup-swift@v2
      with:
        swift-version-file: '.swift-version'
      
    - name: Cache Swift Package Dependencies
      uses: actions/cache@v4
      with:
        path: |
          .build
          ~/.cache/org.swift.swiftpm
        key: ${{ runner.os }}-swift-${{ hashFiles('Package.resolved', 'Package.swift') }}
        restore-keys: |
          ${{ runner.os }}-swift-
    
    - name: Build
      run: swift build --verbose
      
    - name: Run Tests
      run: swift test --verbose --parallel